.flex-container{
    width: 700px;
    height: 700px;
    background-color: chartreuse;
    margin-left: auto;
    margin-right: auto;
    

}
.container-flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.grid-container > h1 {
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    height: 300px;
    grid-gap: 2px;
}
.tab1{
    background-color: blue;
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.tab2{
    background-color: darkred;
    
}
.tab3{
    background-color: rgb(229, 255, 0);
    
}
.tab4{
    background-color: rgb(21, 13, 87);
   
}
.tab5{
    background-color: rgb(143, 22, 102);
    
}
.tab6{
    background-color: rgb(6, 70, 4);
    
}
.tab7{
    background-color: rgba(6, 28, 53, 0.712);
    
}
.tab8{
    background-color: rgba(230, 231, 223, 0.897);
    
}
.tab9{
    background-color: rgba(17, 17, 17, 0.932);
    
}
.tab10{
    background-color: rgba(106, 148, 9, 0.925);
   
}
.tab11{
    background-color: rgba(6, 148, 158, 0.89);
    
}
.tab12{
    background-color: rgba(222, 213, 224, 0.877);
    
}
.tab13{
    background-color: rgba(47, 145, 115, 0.747);
    
}
.tab14{
    background-color: rgb(90, 21, 55);
  
}
.tab15{
    background-color: rgba(56, 71, 62, 0.753);
    
}
.tab16{
    background-color: rgb(77, 17, 30);
   
}